.next
node_modules
*.log
.DS_Store

.vercel
public/*.xml
public/robots.txt
.cache
build
public/build
.wrangler# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

.wrangler
.aider*
