@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
        
    @font-face {
        font-family: 'Tex Gyre Heros';
        src: url('/_fonts/texgyreheros-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'Tex Gyre Heros';
        src: url('/_fonts/texgyreheros-bold-webfont.woff') format('woff');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'Tex Gyre Heros';
        src: url('/_fonts/texgyreheros-italic-webfont.woff') format('woff');
        font-weight: normal;
        font-style: italic;
        font-display: swap;
    }
    @font-face {
        font-family: 'Tex Gyre Heros';
        src: url('/_fonts/texgyreheros-bolditalic-webfont.woff') format('woff');
        font-weight: bold;
        font-style: italic;
        font-display: swap;
    }  

}
@layer components {

    .btn-primary-blue {
        @apply 
            inline-block 
            bg-gt-blue 
            hover:bg-gt-green 
            hover:border-gt-green 
            text-white 
            uppercase
            font-bold 
            no-underline 
            py-2 px-8 
            rounded-full
            border-2 
            border-gt-blue 
            ease-in-out duration-300;
    }
    /*
    .btn-secondary {
    }
    .btn-disabled {
    }
    */

    .btn-white-on-green {
        @apply 
            inline-block 
            bg-white 
            hover:bg-transparent 
            text-gt-green
            hover:text-white 
            uppercase
            font-bold 
            no-underline 
            py-2 px-8 
            rounded-full
            border-2 
            border-white 
            ease-in-out duration-300;
    }

    
    .btn-disabled-white {
        @apply 
            inline-block 
            bg-white 
            text-gt-blue
            uppercase
            font-bold 
            no-underline 
            py-2 px-4 
            rounded-full
            border-2 
            border-white 
    }










}      