@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  .clip-work-image {
      shape-outside: polygon(0 0, 100% 0, 100% 50%, 0 50%);
      clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
  }


.cardflare::before {
  content: '';
  background: linear-gradient(to bottom, rgba(98, 190, 173, 0.9), rgba(66, 145, 206, 0.9));

  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  width: 10px;
}

}

/* 
let theme = {
    zIndex: {
      backToTop: 103,
      top: 102,
      middle: 101
    },
    colours: {
      linkBlue: '#62bead',
      headingBlue: '#4291ce',
      linkOrange: '#ef7852',
      highlightBlue: '#4eace0'
    },
    gutter: 13,
    fontSize: {
      aside: 14,
      base: 18,
      prominentText: 20,
      h2: 40
    },
    lineHeight: 26,
    cardFlare: css`
      
    `,
    greyCardFlare: css`
      border-bottom: 5px solid rgba(200, 200, 200);
    `
  
    a {
      color: ${theme.colours.linkOrange};
      text-decoration: underline;
    }
  } */
  